<!DOCTYPE html>

<html>
<head>
    <title>LogIn</title>
</head>
<body>
    <h2>Welcome</h2>
    <h4>Log in:</h4>
    <form method="post" action="~/Home/LogIn">
        <table >
            <tr><th>Korisnicko ime: </th><th><input type="text" name="korIme" /></th></tr>
            <tr><th>Sifra: </th><th><input type="password" name="Sifra" /></th></tr>
            <tr><th><input type="submit" name="Logovanje" value="Log in" /></th></tr>
        </table>
    </form>
    <br/>
</body>
</html>
